@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    font-family: 'Varela Round', sans-serif;
 }



/* HEADER : Horizontal Menu
========================================= */
.navbar {
    padding: 0px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    font-size:xx-large;
    font-weight: bolder;
    text-transform: uppercase;
    font-style: oblique;
}


.navbar li {
    height: 100%;
    width: 100%;
}

.navbar li a {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: black;

}

.navbar li a:hover {
    background-color: rgba(0, 0, 0, 0.753);
    color: white;
    border-radius: 30% 0% 30% 0%;
    box-shadow: 9px 10px 5px 0px rgba(0, 0, 0, 0.53);
    transition: 1s;

}

/* Footer 
======================================== */

.footer1, .footer2 {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.footer1 {
    background-color: rgba(0, 0, 0, 0.753);
    justify-content: space-evenly;
}

.footer2 {
    justify-content: space-between;
}

.footerphone a {
    text-decoration: none;
    color: black;
}

/* First top image on index page
======================================== */

.band {
    position: relative;
}

.img1 {
    width: 100%; 
    height: 25em; 
    object-fit: cover;
    box-shadow: 8px 7px 5px 0px rgba(0, 0, 0, 0.34);
    opacity: 0.7;
}

.bandtexthome {
    position:absolute;
    top: 25%;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    text-shadow: 1px 1px 5px white;
}

/* First top image on gallerie, tarifs, à propos and contact pages
================================================================ */

.img6, .img15, .img20, .img22 {
    width: 100%; 
    height: 25em; 
    object-fit: cover;
    box-shadow: 8px 7px 5px 0px rgba(0, 0, 0, 0.34);
    opacity: 0.7;
}

.bandtext {
    position:absolute;
    top: 20%;
    left: 20%;
    text-align: center;
    font-size: 5em;
    font-weight: bolder;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px white;
}

/* Index Content
============================================ */

.section1, .section2, .section3, .section4 {
    display: flex;
    align-items: center;
}

.article1, .article2, .article3, .article4 {
    width: 50%;
}

.figure1, .figure2, .figure3, .figure4{
    width: 50%;
}

.img2, .img3, .img4, .img5 {
    width: 100%;
    box-shadow: 8px 7px 5px 0px rgba(0, 0, 0, 0.34);
}

.p1, .p2, .p3, .p4 {
    padding: 5em;
    height: 50%;
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    font-size: 1.5rem;
}

/* Gallerie content
===================================================== */

.gallerie {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
}

.gallerie figure img {
    width: 100%;
    box-shadow: 8px 7px 5px 0px rgba(0, 0, 0, 0.34);
}

/* Tarifs content 
==================================================== */

.tarifs1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    grid-gap: 5em;
}

.tarifs1 article {
    margin: 0;
    border: 1px;
    border-style: solid;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr 2fr 1fr;
    justify-items: center;
     width: 85%; 
    height: 50em; 
    box-shadow: 8px 7px 5px 0px rgba(0, 0, 0, 0.34);    
}

.tarifs1 article figure {
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    height: 25%;
   
}

.img16, .img17, .img18, .img19 {
    object-fit: cover;
    width: 100%;
    height: 15em; 
}

.img17 {
    object-position: 0 20%;     /*better focus position on the image */
}

.img19 {
    object-position: 0 55%;     /*better focus position on the image */
}

.tarifs1 article h2 {
    margin: 0;
    border: 0;
    padding: 0;
    align-self: center;
    font-size: xx-large;
    height: 2em;
    font-style: italic;
}

.tarifs1 article p {
    margin: 0;
    border: 0;
    padding: 0;
    align-self: center;
    font-size: xx-large;
    font-weight: bolder;
    height: 2em;
}

.tarifs1 article ul {
    padding: 0;
    align-self: center;
    font-size: 1.5em;
    font-weight: bolder;
    
}

.tarifs1 article a {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    text-decoration: none;
    align-self: center;
    font-size: xx-large;
    font-weight: bolder;
    color: black;
    text-transform: uppercase;
    height: 2.5em;
    border: solid;
    border-color: black;
    background-color: gray;
    box-shadow: 8px 7px 5px 0px rgba(0, 0, 0, 0.34);
}

.tarifs1 article a:hover {
    background-color: black;
    color: white;
}

.tarifs2 {
    font-size: 2rem;
}

/* A propos content
==================================================== */

.apropos1 {
    display: flex;
}

.figure15 {
    width: 50%;
}

.img21 {
    width: 100%;
    box-shadow: 8px 7px 5px 0px rgba(0, 0, 0, 0.34);
}

.papropos1 {
    width: 50%;
    padding: 3em;
    text-align: center;
    align-self: center;
    font-weight: bolder;
    font-style: italic;
    font-size: 2rem;
}

.figure15 figcaption {
    text-align: center;
    font-weight: bolder;
    font-style: italic;
}

.apropos2 h2 {
    text-align: center;
    font-weight: bolder;
    font-size: 4rem;
}

.papropos2 {
    font-size: 2rem;
} 

/* Contact content
==================================================== */

.form {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    background-color: whitesmoke;
    padding: 2em;
    width: 65%;
    box-shadow: 8px 7px 5px 0px rgba(0, 0, 0, 0.34);
}

.fieldset {
    display: flex;
    flex-direction: column;
    width: 100%;

    
}

input[type=submit], input[type=reset] {
    width: 50%;
    background-color: rgb(153, 153, 153);
    color: black;
    font-weight: bolder;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
    flex-direction: row;
  }
  
  input[type=submit]:hover, input[type=reset]:hover {
    background-color: rgb(53, 53, 53);
    color: white;
  }

  label {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .infos {
    display: flex;
    justify-content: space-evenly;
      
  }

  .infos li {
    display: inline-block;      
  }

  .infos a {
    text-decoration: none;
    font-size: 1.5em;
  }

  .infos a img {
      width: 2em;
      height: 2em;
  }

.maps {
    display: flex;
    justify-content: center;
}

  iframe {
    width: 953px;
    height: 424px;
    border: 0;
    box-shadow: 8px 7px 5px 0px rgba(0, 0, 0, 0.34);
    margin-bottom: 2em;
  }