/* HEADER : Horizontal Menu
========================================= */
.navbar {
    padding: 0px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    font-size:xx-large;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
}


.navbar li {
    height: 100%;
    width: 100%;
}

.navbar li a {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: black;

}

.navbar li a:hover {
    background-color: rgba(0, 0, 0, 0.753);
    color: white;
    border-radius: 30% 0% 30% 0%;
    box-shadow: 9px 10px 5px 0px rgba(0, 0, 0, 0.53);
    transition: 1s;

}

/* Footer 
======================================== */

.footer1, .footer2 {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.footer1 {
    background-color: rgba(0, 0, 0, 0.753);
    justify-content: space-evenly;
}

.footer2 {
    justify-content: space-between;
}

.footerphone a {
    text-decoration: none;
    color: black;
}

/* First top image on index page
======================================== */

.band {
    position: relative;
}

.img1 {
    width: 100%; 
    height: 25em; 
    object-fit: cover;
    box-shadow: 8px 7px 5px 0px rgba(0, 0, 0, 0.34);
    opacity: 0.7;
}

.bandtexthome {
    position:absolute;
    top: 35%;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    text-shadow: 1px 1px 5px white;
}

/* First top image on gallerie, tarifs, à propos and contact pages
================================================================ */

.img6, .img15, .img20, .img22 {
    width: 100%; 
    height: 25em; 
    object-fit: cover;
    box-shadow: 8px 7px 5px 0px rgba(0, 0, 0, 0.34);
    opacity: 0.7;
}

.bandtext {
    position:absolute;
    top: 20%;
    left: 20%;
    text-align: center;
    font-size: 5em;
    font-weight: bolder;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px white;
}

/* Index Content
============================================ */

.section1, .section2, .section3, .section4 {
    display: flex;
    align-items: center;
}

.article1, .article2, .article3, .article4 {
    width: 50%;
}

.figure1, .figure2, .figure3, .figure4{
    width: 50%;
}

.img2, .img3, .img4, .img5 {
    width: 100%;
    box-shadow: 8px 7px 5px 0px rgba(0, 0, 0, 0.34);
}

.p1, .p2, .p3, .p4 {
    padding: 5em;
    height: 50%;
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    font-size: 1.2rem;
}

/* Gallerie content
===================================================== */